# This file will not be checked into Github
# Decrypt from container_0.env.secret.cpt

SIMPLESAML_SECRET_SALT:		"XXXXXX"
SIMPLESAML_ADMIN_PASSWORD:	"$argon2id$v=19$m=64,t=4,p=XXXXXXXXXXX"
#SIMPLESAML_REDIS_USERNAME:	NULL
#SIMPLESAML_REDIS_PASSWORD:	NULL

HASH_SALT:         		"XXXXXX" 
