#
# environment for the container deploy
#

# Drupal-specific confgs
SIMPLESAML_PROJECT:      	"xxx-drupal-saml"
SIMPLESAML_ENV:			"staging"
SIMPLESAMLPHP_CONFIG_DIR:	"/var/simplesamlphp/config"
SIMPLESAML_BASE_URL:		"https://xxx-dev.internal.lib.virginia.edu/simplesaml/"
SIMPLESAML_SP_ENTITY_ID:	"https://xxx-dev.internal.lib.virginia.edu/simplesaml"
SIMPLESAML_DEFAULT_IDP:  	"urn:mace:incommon:virginia.edu"
SIMPLESAML_PROTECT_INDEX:	"true"
SIMPLESAML_PROTECT_METADATA:	"false"
SIMPLESAML_COOKIE_SECURE:	"true"
SIMPLESAML_COOKIE_DOMAIN:       "xxx-dev.internal.lib.virginia.edu"
SIMPLESAML_DEBUG:		"false"
SIMPLESAML_ENABLE_EXAMPLE_AUTH:	"false"
SIMPLESAML_STORE_TYPE:		"redis"
SIMPLESAML_REDIS_HOST:		"ha-redis-staging.wbueu6.ng.0001.use1.cache.amazonaws.com"
SIMPLESAML_REDIS_PORT:		"6379"
SIMPLESAML_REDIS_DATABASE:	"X"
SIMPLESAML_REDIS_PREFIX:	"SIMPLESAML_XXX:"

# These varaiables are moved to container_0.env.secret
#SIMPLESAML_SECRET_SALT:
#SIMPLESAML_ADMIN_PASSWORD:	
#SIMPLESAML_REDIS_USERNAME:
#SIMPLESAML_REDIS_PASSWORD:	
#HASH_SALT:        

#
# end of file
#
